body {
    height: 95vh;
    background-color: black;
    color: white;
    font-family: "Inter", system-ui;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

body::before,
body::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    height: 20%; /* Adjust the height of the gradient as needed */
    pointer-events: none; /* Ensure the gradient does not interfere with interactions */
    z-index: 1; /* Ensure the gradient is on top */
}

body::before {
    top: 0;
    background: linear-gradient(to bottom, black, transparent);
}

body::after {
    bottom: 0;
    background: linear-gradient(to top, black, transparent);
}

@media screen and (max-width: 600px) {
    body::before,
    body::after {
        height: 40%; /* Adjust the height of the gradient as needed */
    }
    
}
@keyframes roll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

.rollover {
    position: absolute;
    rotate: -90deg;
    transform-origin: left top;
    left: 10%;
    top: 100%; /* Adjust this value as needed */
    font-size: 7vw;
    color: #494949;
    margin: 0;
    white-space: nowrap; /* Ensure text does not wrap */
    overflow: hidden;
    user-select: none;
    width: 100%; /* Ensure the container takes full width */
}

.rollover-content {
    display: inline-block;
    animation: 10s roll linear infinite; /* Adjust duration as needed */
    white-space: nowrap; /* Ensure text does not wrap */
}

h2 {
    display: inline-block;
    margin: 0; /* Remove default margin */
}

h2 span {
    color: rgba(148, 0, 185, 0.452);
}
.toolwrapper{
    display: inline;
    text-align: center;
    width: 100%;
    background-color: transparent;
    backdrop-filter: blur(20px);
    width: auto;
    border-radius: 18px;
    padding: 40px;
}
#uploadForm{
    margin-top: 50px;
}
h1 {
    font-size: 2rem;
    font-weight: 200;
    margin-bottom: 40px;
} 
span{
    color: rgb(148, 0, 185);
}
/* Style the file input button */
input[type="file"]::file-selector-button {
    background-color: #1a1a1a;
    margin-right: 20px;
    color: white;
    border: none;
    padding: 15px 25px;
    cursor: pointer;
    font-size: 14px;
    transition-duration: 0.5s;
    border-radius: 18px;
    border: solid 1px rgba(255, 255, 255, 0.308);
}
input[type="file"]::file-selector-button:active {
    background-color: #afafaf;
}
/* Add hover effect */
input[type="file"]::file-selector-button:hover {
    background-color: #494949;
    transition-duration: 0.6s;
    border-color: #1a1a1a;
}
button{
    background-color: #1a1a1a;
    color: white;
    border: solid 2px rgba(148, 0, 185, 0.349);
    padding: 15px 25px;
    cursor: pointer;
    font-size: 14px;
    transition-duration: 0.5s;
    border-radius: 18px;
}
button:hover {
    background-color: #494949;
    transition-duration: 2s;
    border-color: #1a1a1a;
}
button:active {
    transition-duration: 0.2s;
    background-color: #afafaf;
}
.description{
    font-size: 0.9rem;
    margin-bottom: 20px;
    font-weight: 100;
    margin-top: 10px;
}
footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    padding-block: 7px;
    text-align: center;
    background-color: #1a1a1a;
    font-size: 0.7rem;
    color: #adadad;
    z-index: 100;
}
footer a{
    color: #adadad;
    margin-left: 7px;
}
footer a:hover{
    color: rgb(244, 198, 255);
}
footer span{
    color: rgb(148, 0, 185);
}

.drop-area {
    display: inline-block;
    width: 40%;
    border: 2px dashed rgba(148, 0, 185, 0.349);
    border-radius: 18px;
    padding: 50px;
    text-align: center;
    background-color: #1a1a1a;
    color: white;
    transition: background-color 0.5s, border-color 0.5s;
}

.drop-area.dragover {
    background-color: #494949;
    border-color: #1a1a1a;
}

.drop-area p {
    display: inline-block;
    margin: 0;
    font-size: 1rem;
}

input[type="file"] {
    display: none; /* Hide the default file input */
}

.custom-file-label {
    display: inline-block;
    background-color: #1a1a1a;
    color: white;
    border: solid 2px rgba(148, 0, 185, 0.349);
    padding: 15px 25px;
    cursor: pointer;
    font-size: 14px;
    transition-duration: 0.5s;
    border-radius: 18px;
    text-align: center;
}
.custom-file-label:hover {
    background-color: #494949;
    transition-duration: 0.6s;
    border-color: #1a1a1a;
}
.selected-file {
    display: block;
    margin-top: 20px;
    color: rgb(148, 0, 185);
    font-size: 1rem;
    font-weight: 100;
    text-align: center;
    animation: unblur 1s ease-out forwards;
    filter: blur(5px);
}

.selected-file span {
    color: white;
}

@keyframes unblur {
    0% {
        filter: blur(5px);
    }
    100% {
        filter: blur(0);
    }
}